<if condition="menuLink.fields.pageLink">
  <each loop="link in contentful.menuLinks">
    <if condition="menuLink.sys.id === link.sys.id">
      <a class="{{ link.fields.pageLink.fields.slug === item.fields.slug ? 'active' : '' }} {{ menuLink.fields.button ? 'button' : '' }}" href="/{{ link.fields.pageLink.fields.slug }}">{{ link.fields.title }}</a>
    </if>
  </each>
</if>
<if condition="menuLink.fields.link || menuLink.fields.externalLink">
  <a class="{{ menuLink.fields.link === item.fields.slug ? 'active' : '' }} {{ menuLink.fields.button ? 'button' : '' }}" href="{{ menuLink.fields.link || menuLink.fields.externalLink || '' }}" target="{{ menuLink.fields.externalLink ? '_blank' : ''}}" rel="{{ menuLink.fields.externalLink ? 'noopener noreferrer' : '' }}">{{ menuLink.fields.title }}</a>
</if>
