<span class="mobile-icon">
  <include src="../assets/img/navicon.svg"></include>
</span>
<nav>
  <each loop="menu in contentful.menus">
    <if condition="menu.fields.menuTitle == 'Main Navigation'">
      <ul class="main-nav">
        <each loop="menuLink in menu.fields.menuLinks">
          <if condition="menuLink.fields.childLinks">
            <li class="toplevel">
              <include src='../components/Menu/menuLoop.html'></include>

              <div class="dropdown">
                <ul class="submenu">
                  <each loop="childLink in menuLink.fields.childLinks">
                    <each loop="menuLink in contentful.menuLinks">
                      <if condition="childLink.sys.id === menuLink.sys.id">
                        <li>
                          <include src='../components/Menu/menuLoop.html'></include>
                        </li>
                      </if>
                    </each>
                  </each>
                </ul>
              </div>
            </li>
          </if>
          <else>
            <li class="toplevel">
              <include src='../components/Menu/menuLoop.html'></include>
            </li>
          </else>
        </each>
        <!--<li class="toplevel highlight"><a href="/demo">Demo</a></li>-->
      </ul>
    </if>
  </each>
</nav>
