nav {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $medium) {
    background: $gray20;
    box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.1);
    flex-direction: column-reverse;
    font-size: 1.4em;
    left: 0;
    position: absolute;
    text-align: left;
    top: 100%;
    width: 100%;
    user-select: none;

    &.active {
      .main-nav {
        display: block;

        li {
          background: $purple;
          border-top: 1px solid grey;

          &.highlight {
            background-color: $yellow;
          }
        }

        a {
          &:hover {
            // font-weight: bold;
          }
        }
      }
    }

    .main-nav {
      display: none;

      a,
      li {
        display: block;
      }
    }
  }

  @media screen and (min-width: $medium) {
    align-items: flex-end;
  }

  ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    // width: 60%;
  }

  li {
    display: inline-block;
    font-family: $sans;
    font-size: 0.778em;
    margin: 0;

    @media screen and (min-width: $medium) {
      padding-left: 1em;
      padding-right: 1em;

      &:last-of-type {
        padding-right: 0;
      }
    }
  }

  a {
    color: $gray20;
    display: block;
    text-transform: uppercase;

    &.active {
      font-weight: 700;
    }
  }

  li.highlight {
    a {
      background-color: $yellow;
      color: $black;
    }

    @media screen and (min-width: $medium) {
      font-size: 1.1em;
      // padding-left: 2em;

      a:hover {
        color: $black;
      }
    }
  }
}

.toplevel {
  position: relative;

  &:last-of-type {
    > a {
    }
  }

  > a {
    padding: 2em 1.5em;
    transition: transform 0.1s ease-in;
    @media screen and (min-width: $medium) {
      transition: transform 0.1s ease-in, padding $duration $timing;
    }
  }

  &:hover {
    > a {
      transition: transform 0.1s ease-in;
      color: $yellow;
      // color: $black;

      @media screen and (min-width: $medium) {
        transform: scale(1.2);
      }
    }

    .dropdown {
      display: block;
    }
  }
}

.dropdown {
  display: none;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 20rem;

  @media screen and (max-width: $medium) {
    box-shadow: none;
    display: block;
    left: 0;
    position: relative;
    transform: translateX(0);
    width: 100%;
  }
}

.submenu {
  background: $white;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.1);
  font-size: 0.9em;
  position: relative;
  text-align: left;

  li {
    display: block;
  }

  a {
    &:hover {
      font-weight: 700;
    }
  }
}

.mobile-icon {
  color: $gray20;
  cursor: pointer;
  display: none;
  width: 2em;
  user-select: none;

  @media screen and (max-width: $medium) {
    display: block;
  }

  &.active {
    .mobile-nav {
      display: block;
    }
  }
}
@media screen and (min-width: $medium) {
  .scrolled nav .toplevel > a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    transition: all $duration $timing;
  }
}
