<section class="hero" style="{{ section.fields.backgroundImage ? 'background-image: url(' + section.fields.backgroundImage.fields.file.url + ');' : '' }}">
  <div class="container">
    <if condition="section.fields.headline || section.fields.text">
      <div class="text">
        <if condition="section.fields.headline">
          <h1>{{ section.fields.headline }}</h1>
        </if>
        <if condition="section.fields.text">
          {{{ md(section.fields.text) }}}
        </if>
        <if condition="item.fields.slug === 'home'">
          <form class="signup-form" data-netlify="true" name="email-sign-up" action="/email-thank-you" netlify-honeypot="bot-field">
            <label class="hidden">Don't fill this out if you are human <input name="bot-field" /></label>
            <label for="email">Enter your email</label>
            <input id="email" type="email" name="email" placeholder="email address">
            <button class="button" type="submit">Get Started</button>
          </form>
        </if>
      </div>
      <if condition="item.fields.slug === 'contact'">
        <form class="contact-form" action="/contact-thank-you" data-netlify="true" name="contact-form" netlify-honeypot="bot-field" >
          <label class="hidden">Don't fill this out if you are human <input name="bot-field" /></label>
          <p><label for="firstName">First Name</label> <input id="firstName" type="text" name="firstName" required minlength="1"></p>
          <p><label for="firstName">Last Name</label> <input id="lastName" type="text" name="lastName" required minlength="1"></p>
          <p><label for="email">Email</label> <input id="email" type="text" name="email" required pattern=".*@.*\..*"></p>
          <p><label for="phone">Telephone Number</label> <input id="phone" type="tel" name="phone"></p>
          <p><label for="message">Message</label> <textarea id="message" name="message"></textarea></p>
          <button class="button" type="submit">Send</button>
        </form>
      </if>
    </if>
  </div>
</section>
