.hero {
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  /**
   * Component toggle settings
   */
  border-color: blue;
  &::before {
    background: blue;
    color: $white;
    content: 'HERO';
  }

  background-color: $purple;
  background-position: 90% center;
  background-size: cover;

  @media (min-width: 112.5em) {
    background-position: 90% 80%;
  }

  @media (max-width: $small) {
    background-position: 80% top;
  }

  .container {
    padding-top: 10em;
    padding-bottom: 8em;

    // Potential option for legibility on mobile
    // @media (max-width: $medium) {
    //   background-color: rgba($purple,0.8);
    // }
  }

  .text {
    h1 {
      color: $gray60;
      font-family: $sans;
      font-weight: 700;
      line-height: 1.296296296;
      margin: 0 0 0.5em 0;
    }

    p {
      color: $gray60;
      font-family: $sans;
      font-weight: 300;

      &:first-of-type {
        font-size: 1.8em;
      }
    }

    a {
      border-bottom: 1px dotted $gray60;
      color: $gray60;

      &:hover,
      &:focus {
        color: $gray20;
        border-width: 0;
      }
    }

    @media screen and (min-width: $medium) {
      width: 60%;
    }
  }
  form {
    label {
      color: $gray60;

      &.hidden {
        display: none;
      }
    }
    input,
    textarea {
      background-color: $gray60;
      border: 0;
      color: $black;
      flex: 1;
      font-family: $sans;
      font-weight: 400;
      margin: 0 0 1em 0;

      &:focus {
        background-color: $gray20;
        outline: 2px solid $white;
      }
    }

    textarea {
      height: 8em;
    }

    button {
      background-color: $yellow;
      border-color: $yellow;
      font-size: 1.1em;
      padding: 1.25em;
    }
  }

  .signup-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    label {
      height: 1px;
      overflow: hidden;
      position: absolute;
      text-indent: -100em;
      width: 1px;
    }

    input {
      padding: 1.25em;
    }

    @media screen and (min-width: $medium) {
      align-items: stretch;
      flex-direction: row;
      justify-content: space-between;

      input {
        margin: 0 1em 0 0;
      }
    }
  }

  &.full-width {
    .container {
      padding-left: 8em;
      padding-right: 8em;

      @media screen and (max-width: $medium) {
        padding-left: 1em;
        padding-right: 1em;
      }
    }

    h1 {
      max-width: 100%;
    }
  }
}

// set up page-specific contact form layout
.page-contact main,
[class*='thank-you'] main {
  display: flex;
}
.page-contact .hero,
[class*='thank-you'] .hero {
  flex: 1;
  .container {
    @media screen and (min-width: $medium) {
      align-items: stretch;
      display: flex;
      justify-content: space-between;
      .text {
        // border: 1px solid $pink;
      }
      .contact-form {
        background: $dark-purple;
        padding: 1.5em;
        width: 38%;

        .button {
          margin-top: 0.5em;
          padding-bottom: 0.65em;
          padding-top: 0.75em;
        }
      }
    }

    @media screen and (max-width: $medium) {
      .contact-form {
        margin-top: 4em;
      }
    }
  }
}
