<section class="transition" style="{{ section.fields.backgroundImage ? 'background-image: url(' + section.fields.backgroundImage.fields.file.url + ');' : '' }}">
  <div class="container">
    <p>{{ section.fields.text }}</p>
  </div>
</section>
