.transition {
  border-color: yellow;

  &::before {
    background: yellow;
    color: $black;
    content: 'TRANSITION';
  }

  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $small) {
    background-size: 200%;
  }

  p {
    color: white;
    font-family: $serif;
    font-size: 3em;
    font-weight: 700;

    span {
      font-size: 0.5em;
      font-weight: 400;
    }
  }

  .container {
    padding: 8em 1em;
  }
}
