<section class="cta callout {{ section.fields.theme ? 'theme-' + section.fields.theme : ''}}">
  <div class="container {{ section.fields.orientation ? 'align-left' : 'align-right'}}">
    <div class="text-section logomark" style="{{ section.fields.backgroundImage ? 'background-image: url(' + section.fields.backgroundImage.fields.file.url + ');' : '' }}">
      <!-- <h2>{{ section.fields.title }}</h2> -->
      <if condition="section.fields.text">
        {{{ md(section.fields.text) }}}
      </if>
    </div>
    <div class="cta-section">
      <p>{{ section.fields.focus }}</p>
    </div>
  </div>
</section>
