.cta {
  border-color: red;

  &::before {
    background: red;
    color: $white;
    content: 'CTA';
  }

  &.callout {
    &::before {
      content: 'CALLOUT CTA';
    }
  }

  background-color: $gray20;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  .container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2em;

    .text-section {
      background-image: url('/assets/img/r-background.svg');
      background-position: left bottom;
      background-repeat: no-repeat;
      margin-left: -2em;
      margin-right: -2em;
      padding: 2em;

      .button {
        border-color: $red;

        &:hover {
          border-color: $yellow;
        }
      }

      h2 {
        color: $black;
        font-family: $sans;
        font-size: 1.8em;
      }

      p {
        color: $black;
        font-size: 1.2em;
        font-weight: 300;
      }
    }
    .cta-section {
      background-color: $red;
      z-index: 999;

      @media screen and (max-width: $medium) {
        align-self: flex-start;
        margin-bottom: -1em;
        margin-left: -2em;
        padding: 2em;
        width: 100%;
      }

      p {
        color: $gray20;
        font-family: $serif;
        font-size: 2em;
        font-weight: 700;
      }
    }

    @media screen and (min-width: $medium) {
      align-items: stretch;
      flex-direction: row;
      text-align: left;

      .text-section {
        flex: 1;
        margin: 0;
      }

      .cta-section {
        width: 30%;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2em;
        position: relative;
        transform: scale(1.1);
        z-index: 999;

        &::after {
          background-color: $red;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          width: 1000em;
        }
      }

      &.align-left {
        flex-direction: row-reverse;

        .cta-section {
          padding-left: 0;
          &::after {
            right: 99.7%;
          }
        }

        .text-section {
          padding-left: 5em;
          padding-right: 0;
        }
      }

      &.align-right {
        flex-direction: row;

        .cta-section {
          padding-right: 0;

          &::after {
            left: 99.7%;
          }
        }

        .text-section {
          padding-left: 0;
        }
      }
    }
  }

  .cta-section .button {
    border-color: $gray20;
    color: $gray20;
    line-height: 1.1;

    &:hover,
    &:focus {
      background-color: $yellow;
      border-color: $yellow;
      color: $black;
    }
  }

  /* THEMES */

  &[class*='theme-violet'] {
    .container {
      .cta-section {
        background-color: $pink;

        &::after {
          background-color: $pink;
        }
      }
    }
  }

  &[class*='theme-orange'] {
    .container {
      .cta-section {
        background-color: $orange;

        &::after {
          background-color: $orange;
        }
      }
    }
  }

  &[class*='theme-red'] {
    .container {
      .cta-section {
        background-color: $red;

        &::after {
          background-color: $red;
        }
      }
    }
  }

  &[class*='-dark'] {
    background-color: $purple;

    .container {
      .text-section {
        background-image: url('/assets/img/r-background-dark.svg');
        h2,
        p {
          color: $gray20;
        }
      }
    }
  }
}
