<section class="cta {{ section.fields.theme ? 'theme-' + section.fields.theme : ''}}" style="{{ section.fields.backgroundImage ? 'background-image: url(' + section.fields.backgroundImage.fields.file.url + ');' : '' }}">
  <div class="container align-right">
    <div class="text-section">
      <h2>{{ section.fields.title }}</h2>
      <if condition="section.fields.text">
        {{{ md(section.fields.text) }}}
      </if>
    </div>
    <div class="cta-section">
      <p>{{ section.fields.focus }}</p>
      <if condition="section.fields.buttonLink">
        <a href="{{ section.fields.buttonLink }}" class="button">{{ section.fields.buttonTitle }}</a>
      </if>
    </div>
  </div>
</section>
