<section class="feature {{ section.fields.orientation ? 'align-left' : 'align-right'}} {{ section.fields.theme ? 'theme-' + section.fields.theme.toLowerCase() : '' }}">
  <div class="container">
    <div class="container-inner" style="width: {{ section.fields.textWidth ? section.fields.textWidth : '55%' }};">
      <h2>{{ section.fields.title }}</h2>
      <div class="text">
        {{{ md(section.fields.text) }}}
      </div>
      <ul>
        <li>{{ section.fields.bullet1 }}</li>
        <li>{{ section.fields.bullet2 }}</li>
        <li>{{ section.fields.bullet3 }}</li>
      </ul>
    </div>
    <if condition="section.fields.illustration && section.fields.illustration.fields">
      <div class="illustration" style="width: {{ section.fields.illustrationWidth ? section.fields.illustrationWidth : '50%' }};">
        <img src="{{ section.fields.illustration.fields.file.url }}" alt="">
      </div>
    </if>
  </div>
</section>
