.feature {
  border-color: yellow;

  &::before {
    background: yellow;
    color: $black;
    content: 'FEATURE';
  }

  .container {
    position: relative;

    @media (max-width: $medium) {
      display: flex;
      flex-direction: column-reverse;
    }

    &::after {
      background-image: url(/assets/img/dot-light.svg);
      background-size: 1%;
      bottom: 0;
      content: '';
      height: 100%;
      position: absolute;
      width: 1000em;
    }
  }

  .container-inner {
    margin: 0 auto;
    position: relative;
    transition: all $duration $timing;
    z-index: 1;

    @media (min-width: $medium) {
      width: 55%;
    }

    @media (max-width: $medium) {
      width: 100% !important;
    }

    & > ul {
      margin-top: 3em;
    }

    & > ul > li {
      font-weight: 700;
      list-style: none;
      // opacity: 0;
      padding-bottom: 2em;
      position: relative;
      // transform: translateY(1em);
      // transition: all $duration $timing;

      &::before {
        background-color: $orange;
        content: '';
        display: block;
        left: -1em;
        top: 0.5em;
        position: absolute;
        transform: rotate(45deg);
        width: 0.25em;
        height: 0.25em;
      }
    }
  }

  // &.viewed .container-inner > ul > li {
  //   opacity: 1;
  //   transform: translateY(0);
  //   transition: all $duration * 5 $timing;

  //   &:nth-child(2) {
  //     transition-delay: 0.25s;
  //   }

  //   &:nth-child(3) {
  //     transition-delay: 0.5s;
  //   }
  // }

  .illustration {
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    height: 100%;
    // opacity: 0.3;
    transition: all $duration $timing;
    width: 100%;
    z-index: 1;

    img {
      transition: all .4s cubic-bezier(.17,.67,.33,1.24);
      &:hover {
        transform: scale(1.05)
      }
    }

    @media (min-width: $medium + 200px) {
      position: absolute;
      // opacity: 1;
      width: 50%;
    }

    @media (max-width: $medium + 200px) {
      width: 100% !important;
    }
  }

  &.align-right {
    .container {
      &::after {
        right: 80%;
      }
    }
    .container-inner {
      margin-left: 0;
    }
    .illustration {
      background-position: right bottom;
      right: -10%;
    }
  }

  &.align-left {
    .container {
      &::after {
        left: 80%;
      }
    }

    .container-inner {
      margin-right: 0;
    }

    .illustration {
      background-position: left bottom;
      left: -10%;
    }
  }

  h2 {
    margin: 0 auto;
    max-width: $container-width;
  }

  // .text p:first-of-type::first-letter {
  //   border: 3px solid $gray100;
  //   display: block;
  //   float: left;
  //   font-family: $serif;
  //   font-size: 2.5em;
  //   line-height: 1;
  //   margin-bottom: 0.35em;
  //   margin-right: 0.35em;
  //   padding: 0.15em 0.25em 0.05em;
  // }

  &[class*='theme-red'] {
    .container-inner > ul > li::before {
      background-color: $red;
    }
  }

  &[class*='theme-orange'] {
    .container-inner > ul > li::before {
      background-color: $orange;
    }
  }

  &[class*='theme-violet'] {
    .container-inner > ul > li::before {
      background-color: $pink;
    }
  }

  &[class*='-dark'] {
    .container {
      &::after {
        background-image: url(/assets/img/dot-dark.svg);
      }
    }
  }
}
