<section class="solution hammer-headline {{ section.fields.orientation ? 'align-left' : 'align-right'}} {{ section.fields.theme ? 'theme-' + section.fields.theme.toLowerCase() : '' }}">
  <div class="container">
    <!-- <h2>{{ section.fields.title }}</h2> -->
    <div class="container-padding">
      <div class="container-inner" style="width: {{ section.fields.textWidth ? section.fields.textWidth : '55%' }};">
        <div class="body">
          <p class="subhead">{{ section.fields.subhead }}</p>
          <h3>{{ section.fields.headline }}</h3>
          <div class="text">
            {{{ md(section.fields.text) }}}
          </div>
          <if condition="section.fields.buttonLink">
            <p><a class="button" href="{{ section.fields.buttonLink }}">{{ section.fields.buttonText }}</a></p>
          </if>
        </div>
      </div>
      <if condition="section.fields.illustration && section.fields.illustration.fields">
        <div class="illustration" style="width: {{ section.fields.illustrationWidth ? section.fields.illustrationWidth : '50%' }};">
          <img src="{{ section.fields.illustration.fields.file.url }}" alt="">
        </div>
      </if>
    </div>
  </div>
</section>
