.solution {
  border-color: yellow;
  overflow: hidden;

  &::before {
    background: yellow;
    color: $black;
    content: 'SOLUTION';
  }

  .container {
    position: relative;

    &::after {
      background-image: url(/assets/img/dot-light.svg?v=2);
      background-size: 1%;
      bottom: 0;
      content: '';
      height: 100%;
      position: absolute;
      width: 1000em;
    }
  }

  .container-padding {
    position: relative;

    @media (max-width: $medium) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .container-inner {
    margin: 0 auto;
    position: relative;
    transition: all $duration $timing;
    z-index: 1;

    @media (min-width: $medium) {
      width: 55%;
    }

    @media (max-width: $medium) {
      width: 100% !important;
    }
  }

  .illustration {
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    height: 100%;
    // opacity: 0.3;
    // position: absolute;
    transition: all $duration $timing;
    width: 100%;
    z-index: 0;

    img {
      transition: all .4s cubic-bezier(.17,.67,.33,1.24);
      &:hover {
        transform: scale(1.05)
      }
    }

    @media (min-width: $medium + 200px) {
      position: absolute;
      // bottom: -5%;
      width: 50%;
    }

    @media (max-width: $medium + 200px) {
      width: 100% !important;
      margin-top: -5%;
    }
  }

  &.align-right {
    .container {
      &::after {
        right: 80%;
      }
    }
    .container-inner {
      margin-left: 0;
    }
    .illustration {
      background-position: right bottom;
      right: -10%;
    }
  }

  &.align-left {
    .container {
      &::after {
        left: 80%;
      }
    }

    .container-inner {
      margin-right: 0;
    }

    .illustration {
      background-position: left bottom;
      left: -10%;
    }
  }

  h2 {
    line-height: 1.139240506;
    position: relative;
    z-index: 1;

    &.specialcase {
      align-items: flex-start;
      display: flex;
      justify-content: space-between;

      .maintext {
        border: 1px solid red;
        font-size: 0.75em;
        padding-left: 1em;
        text-align: left;
      }
    }
  }

  .subhead {
    font-family: $serif;
    font-size: 0.9em;
    font-style: italic;
    font-weight: 700;
  }

  // .text p:first-of-type::first-letter {
  //   border: 3px solid $gray100;
  //   display: block;
  //   float: left;
  //   font-family: $serif;
  //   font-size: 2.5em;
  //   line-height: 1;
  //   margin-bottom: 0.35em;
  //   margin-right: 0.35em;
  //   padding: 0.15em 0.25em 0.05em;
  // }

  &[class*='-dark'] {
    .container {
      &::after {
        background-image: url(/assets/img/dot-dark.svg?v=2);
      }
    }
    .subhead {
      color: $gray40;
    }
  }

  &[class*='violet-dark'] {
    h1, h2, h3, h4, h5 {
      color: $pink;
    }
  }

  &[class*='violet-light'] {
    h1, h2, h3, h4, h5 {
      color: $pink;
    }
  }

  &[class*='red-dark'] {
    h1, h2, h3, h4, h5 {
      color: $red;
    }
  }
}
