header {
  @extend section;
  border-color: black;
  position: fixed !important;
  position: absolute;
  top: 0;
  width: 100%;
  transition: all 1s $timing;
  z-index: 1000;

  &.scrolled {
    background-color: $dark-purple;
    transition: background-color 1s $timing;
  }

  &::before {
    background: black;
    color: $white;
    content: 'HEADER';
  }

  .logo {
    color: $white;
    img,
    svg {
      transition: width $duration $timing;
      display: block;
      max-width: 100%;
      width: 13em;
    }

    #logomark {
      transform: scale(1);
      transition: transform $duration $timing $duration, width $duration $timing;
      transform-origin: left center;
      width: 0;
    }
    #logotext {
      transform: translateX(0);
      transition: transform $duration $timing;
    }
  }

  &.scrolled {
    position: fixed;
    top: 0;
    // background: rgba(#e8eced, 0.95);
    box-shadow: $shadow;

    .logo {
      // color: rgba($white, 0);
      svg {
        transition: width $duration $timing $duration;
        width: 8em;
      }

      #logomark {
        transform: scale(0);
        transition: transform $duration $timing,
          width $duration $timing $duration;
        width: 0;
      }
      #logotext {
        transform: translateX(-17em);
        transition: transform $duration $timing $duration;
      }
    }

    .main-nav {
      // font-size: 0.9em;
    }
  }

  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: $container-width;
    padding: 1em 2em;
    @media screen and (min-width: $medium) {
      padding: 0 0 0 2em;
    }
  }
}
