<section class="media {{ section.fields.backgroundImage ? 'with-background' : '' }} {{ section.fields.backgroundColor ? 'bgcolor-' + section.fields.backgroundColor.toLowerCase() : '' }}" style="{{ section.fields.backgroundImage ? 'background-image: url(' + section.fields.backgroundImage.fields.file.url + ');' : '' }}">
  <if condition="section.fields.scaleToFit">
    <div class="full-width">
      <if condition="section.fields.media">
        <img src="{{ section.fields.media.fields.file.url }}" alt="{{ section.fields.media.fields.file.title }}" />
      </if>
    </div>
  </if>
  <else>
    <div class="container">
      <if condition="section.fields.media">
        <img src="{{ section.fields.media.fields.file.url }}" alt="{{ section.fields.media.fields.file.title }}" />
      </if>
    </div>
  </else>
</section>
