.media {
  border-color: yellow;

  &::before {
    background: yellow;
    color: $black;
    content: 'MEDIA';
  }

  .container {
    text-align: center;
    padding: 0;
  }
}

.full-width {
  img {
    display: block;
    width: 100%;
  }
}
