<footer>
  <div class="container">
    <div class="links">
      <div class="powered">
        <p><a href="https://www.element80ventures.com/">Powered by Element 80 Ventures</a>.</p>
      </div>
      <div class="footercell">
        <p class="copyright">&copy; {{ year }} Renaizant. </p>
      </div>
      <div>
        <a href="/privacy-policy" class="footercell">
          <p>Privacy Policy</p>
        </a>
      </div>
    </div>
    <div class="social">
      <svg class="logotype" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 946.11 143.56" aria-label="Renaizant"><use xlink:href="/assets/img/logotype.svg#type" /></svg>
      <ul class="social-links">
        <li><a href="https://twitter.com/renaizant"><svg aria-label="Twitter" viewBox="0 0 26.81 26.81"><use xlink:href="/assets/img/twitter.svg#logo" /></svg></a></li>
        <li><a href="https://www.linkedin.com/company/renaizant"><svg aria-label="LinkedIn" viewBox="0 0 26.81 26.81"><use xlink:href="/assets/img/linkedin.svg#logo" /></svg></a></li>
        <li><a href="https://www.facebook.com/renaizant"><svg aria-label="Facebook" viewBox="0 0 26.81 26.81"><use xlink:href="/assets/img/facebook.svg#logo" /></svg></a></li>
      </ul>
    </div>
  </div>
</footer>
