footer {
  @extend section;
  border-color: red;
  font-size: 0.7em;
  text-align: center;

  &::before {
    background: red;
    color: $white;
    content: 'FOOTER';
  }

  background: $black;

  p {
    color: $gray20;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1;
    padding: 0;
    margin: 0;

    a {
      color: $gray20;
      font-weight: 400;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding-top: 6em;
    padding-bottom: 2em;

    @media (min-width: $medium) {
      flex-direction: row;
    }

    & > div {
      padding: 0 2em;
    }

    .links {
      align-items: flex-end;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1;
      order: 2;
      padding: 0;
      justify-content: flex-start;
      text-align: left;

      @media (min-width: $medium) {
        order: 0;
      }

      .powered {
        width: 100%;

        @media (max-width: $medium) {
          padding-top: 4em;
          text-align: center;
        }

        p a {
          color: $gray100;
          font-weight: 700;

          &:hover {
            color: $gray20;
          }
        }
      }

      .footercell {
        padding-right: 4em;
        &:last-of-type {
          padding-right: 0;
        }

        @media (max-width: $medium) {
          padding-top: 4em;
        }
      }
    }

    .social {
      align-self: center;
      display: flex;
      flex-direction: column;

      @media (min-width: $medium) {
        align-self: flex-end;
      }

      ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 2em 0 0 0;
        padding: 0;
        li {
          width: 24px;
          margin-left: 1em;
          margin-right: 1em;
        }
      }
    }
  }

  .logotype {
    color: $gray20;
    width: 200px;
  }

  .social-links a {
    color: $red;

    svg {
      transform: scale(1);
      transition: all $duration $timing;
    }

    &:hover,
    &:focus {
      color: $yellow;

      svg {
        transform: scale(1.2);
        transition: all $duration $timing;
      }
    }
  }
}
