.img-magnifier-container {
  position: relative;

  // img {
  //   transition: all .4s cubic-bezier(.17,.67,.33,1.24);
  //   &:hover {
  //     transform: scale(1.5)
  //   }
  // }
}

.img-magnifier-glass {
  // display: none;
  position: absolute;
  border: 2px solid $dark-purple;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 400px;
  height: 400px;
  z-index: 100;

  &.show {
    display: block;
  }
}
