// =========================
// Colors
// =========================

// Primary
$purple: #2e1a45;
$dark-purple: #1d1834;
$night: #131e29;

// Secondary
$orange: #ff4613;
$red: #e7004b;
$pink: #ce009f;
$yellow: #ffcd00;

// Neutral
$white: #fff;
$black: #10171f;
$gray100: #a7a8a9;
$gray80: #b9b9ba;
$gray60: #cacacb;
$gray40: #dcdcdd;
$gray20: #ededee;

// =========================
// Typography
// =========================

@import url('//hello.myfonts.net/count/370682');
@import url('//hello.myfonts.net/count/37068d');

@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/sofia/370682_3_0.eot');
  src: url('/assets/fonts/sofia/370682_3_0.eot?#iefix')
    format('embedded-opentype'),
    url('/assets/fonts/sofia/370682_3_0.woff2') format('woff2'),
    url('/assets/fonts/sofia/370682_3_0.woff') format('woff'),
    url('/assets/fonts/sofia/370682_3_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Sofia Pro';
  font-style: italic;
  font-weight: 300;
  src: url('/assets/fonts/sofia/370682_4_0.eot');
  src: url('/assets/fonts/sofia/370682_4_0.eot?#iefix')
    format('embedded-opentype'),
    url('/assets/fonts/sofia/370682_4_0.woff2') format('woff2'),
    url('/assets/fonts/sofia/370682_4_0.woff') format('woff'),
    url('/assets/fonts/sofia/370682_4_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/sofia/370682_7_0.eot');
  src: url('/assets/fonts/sofia/370682_7_0.eot?#iefix')
    format('embedded-opentype'),
    url('/assets/fonts/sofia/370682_7_0.woff2') format('woff2'),
    url('/assets/fonts/sofia/370682_7_0.woff') format('woff'),
    url('/assets/fonts/sofia/370682_7_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Sofia Pro';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/sofia/370682_8_0.eot');
  src: url('/assets/fonts/sofia/370682_8_0.eot?#iefix')
    format('embedded-opentype'),
    url('/assets/fonts/sofia/370682_8_0.woff2') format('woff2'),
    url('/assets/fonts/sofia/370682_8_0.woff') format('woff'),
    url('/assets/fonts/sofia/370682_8_0.ttf') format('truetype');
}

// @font-face {
//   font-family: 'Sofia Pro';
//   font-style: normal;
//   font-weight: 500;
//   src: url('/assets/fonts/sofia/370682_5_0.eot');
//   src: url('/assets/fonts/sofia/370682_5_0.eot?#iefix')
//     format('embedded-opentype'),
//     url('/assets/fonts/sofia/370682_5_0.woff2') format('woff2'),
//     url('/assets/fonts/sofia/370682_5_0.woff') format('woff'),
//     url('/assets/fonts/sofia/370682_5_0.ttf') format('truetype');
// }
//
// @font-face {
//   font-family: 'Sofia Pro';
//   font-style: italic;
//   font-weight: 500;
//   src: url('/assets/fonts/sofia/370682_6_0.eot');
//   src: url('/assets/fonts/sofia/370682_6_0.eot?#iefix')
//     format('embedded-opentype'),
//     url('/assets/fonts/sofia/370682_6_0.woff2') format('woff2'),
//     url('/assets/fonts/sofia/370682_6_0.woff') format('woff'),
//     url('/assets/fonts/sofia/370682_6_0.ttf') format('truetype');
// }
//
// @font-face {
//   font-family: 'Sofia Pro';
//   font-style: normal;
//   font-weight: 600;
//   src: url('/assets/fonts/sofia/370682_9_0.eot');
//   src: url('/assets/fonts/sofia/370682_9_0.eot?#iefix')
//     format('embedded-opentype'),
//     url('/assets/fonts/sofia/370682_9_0.woff2') format('woff2'),
//     url('/assets/fonts/sofia/370682_9_0.woff') format('woff'),
//     url('/assets/fonts/sofia/370682_9_0.ttf') format('truetype');
// }
//
// @font-face {
//   font-family: 'Sofia Pro';
//   font-style: italic;
//   font-weight: 600;
//   src: url('/assets/fonts/sofia/370682_A_0.eot');
//   src: url('/assets/fonts/sofia/370682_A_0.eot?#iefix')
//     format('embedded-opentype'),
//     url('/assets/fonts/sofia/370682_A_0.woff2') format('woff2'),
//     url('/assets/fonts/sofia/370682_A_0.woff') format('woff'),
//     url('/assets/fonts/sofia/370682_A_0.ttf') format('truetype');
// }

@font-face {
  font-family: 'Sofia Pro';
  font-style: italic;
  font-weight: 700;
  src: url('/assets/fonts/sofia/370682_0_0.eot');
  src: url('/assets/fonts/sofia/370682_0_0.eot?#iefix')
    format('embedded-opentype'),
    url('/assets/fonts/sofia/370682_0_0.woff2') format('woff2'),
    url('/assets/fonts/sofia/370682_0_0.woff') format('woff'),
    url('/assets/fonts/sofia/370682_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/sofia/370682_2_0.eot');
  src: url('/assets/fonts/sofia/370682_2_0.eot?#iefix')
    format('embedded-opentype'),
    url('/assets/fonts/sofia/370682_2_0.woff2') format('woff2'),
    url('/assets/fonts/sofia/370682_2_0.woff') format('woff'),
    url('/assets/fonts/sofia/370682_2_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Times Pro';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/times/37068D_0_0.eot');
  src: url('/assets/fonts/times/37068D_0_0.eot?#iefix')
    format('embedded-opentype'),
    url('/assets/fonts/times/37068D_0_0.woff2') format('woff2'),
    url('/assets/fonts/times/37068D_0_0.woff') format('woff'),
    url('/assets/fonts/times/37068D_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Times Pro';
  font-style: italic;
  font-weight: 600;
  src: url('/assets/fonts/times/37068D_1_0.eot');
  src: url('/assets/fonts/times/37068D_1_0.eot?#iefix')
    format('embedded-opentype'),
    url('/assets/fonts/times/37068D_1_0.woff2') format('woff2'),
    url('/assets/fonts/times/37068D_1_0.woff') format('woff'),
    url('/assets/fonts/times/37068D_1_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Times Pro';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/times/37068D_2_0.eot');
  src: url('/assets/fonts/times/37068D_2_0.eot?#iefix')
    format('embedded-opentype'),
    url('/assets/fonts/times/37068D_2_0.woff2') format('woff2'),
    url('/assets/fonts/times/37068D_2_0.woff') format('woff'),
    url('/assets/fonts/times/37068D_2_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Times Pro';
  font-style: italic;
  font-weight: 700;
  src: url('/assets/fonts/times/37068D_3_0.eot');
  src: url('/assets/fonts/times/37068D_3_0.eot?#iefix')
    format('embedded-opentype'),
    url('/assets/fonts/times/37068D_3_0.woff2') format('woff2'),
    url('/assets/fonts/times/37068D_3_0.woff') format('woff'),
    url('/assets/fonts/times/37068D_3_0.ttf') format('truetype');
}

$sans: 'Sofia Pro', 'Open Sans', Arial, sans-serif;
$serif: 'Times Pro', Times, 'Times New Roman', serif;

// =========================
// Layout
// =========================

$border-radius: 3px;
$container-width-raw: 110; // Need a format without units
$container-width: $container-width-raw + rem;
$gutter: 3%;
$section-gutter: 3.4em;
$small: 600px;
$medium: 900px;
$large: 1200px;
$duration: 0.2s;
$timing: cubic-bezier(0.5, 0.25, 0, 1.395);
$shadow: 0 5px 5px -3px rgba($black, 0.15);
