@import 'normalize.css';
@import 'variables';

// ==============================
// Layout
// General layout styles that may be overriden by components
// ==============================

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media screen and (max-width: $small) {
    font-size: 50%;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  background-color: $gray20;
  display: flex;
  flex-direction: column;
  font-size: 1.8em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

main {
  flex: 1 0 auto;
}

// =========================
// Headings
// =========================

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

h1 {
  font-size: 3em;
}

h2 {
  color: $dark-purple;
  font-family: $serif;
  font-size: 3em;
  font-weight: 700;
}

.hammer-headline {
  h2 {
    font-size: 3em;
    margin-bottom: 2rem;
    margin-top: 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;

    @media screen and (min-width: $small) and (min-height: $small) {
      font-size: 10vmin;
      text-align: center;
    }
  }
}

h3 {
  color: $red;
  font-family: $sans;
  font-size: 1.8em;
  font-weight: 300;
  text-transform: uppercase;
}

h4 {
  font-family: $sans;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: .5em;
  margin-top: 1.7em;
}

// =========================
// Body
// =========================

p,
ul,
ol {
  color: $black;
  font-family: $sans;
  font-size: 1em;
  font-weight: 400;
  margin: 0 0 1em;
}

li {
  margin-bottom: 0.3em;
}

em,
i {
  font-style: normal;
}

strong,
b {
  font-weight: 700;
}

// =========================
// Links and buttons
// =========================

a {
  text-decoration: none;
}

.button {
  background-color: transparent;
  border: 2px solid $orange;
  color: $black;
  display: inline-block;
  font-family: $sans;
  font-size: 0.8em;
  font-weight: 700;
  padding: 1.2em 1em 1em;
  text-align: center;
  text-transform: uppercase;
  transition: all $duration $timing;

  &:hover {
    background-color: $yellow;
    border-color: $yellow;
    color: $black;
    cursor: pointer;
    transform: scale(1.2);
    transition: border-color $duration $timing,
      background-color $duration $timing, color $duration $timing,
      transform $duration $timing;
  }
}

.expand,
.close {
  background: none;
  border: 0;
  cursor: pointer;
  height: 2em;
  outline: none;
  width: 2em;
}

// ==============================
// Containers
// ==============================

.container {
  margin: 0 auto;
  max-width: 110rem;
  padding: 4em 2em;
  width: 100%;

  @media screen and (max-width: $medium) {
    padding: 4em 2em;
  }

  @media screen and (max-width: $small) {
    padding: 2em 1em;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

// ==============================
// Layout
// ==============================

.page {
  padding: 3em 0;
}

.columns {
  display: flex;
  justify-content: space-between;
}

section {
  border-width: 0;
  border-style: solid;
  position: relative;

  &::before {
    display: none;
    font-size: 0.6em;
    font-weight: 700;
    left: -3px;
    line-height: 1;
    padding: 0.3em;
    position: absolute;
    top: -3px;
    z-index: 3;
  }
}

// ==============================
// Images
// ==============================

img,
svg {
  height: auto;
  max-width: 100%;
  position: relative;
}

svg {
  max-height: 100%;
}

// ==============================
// Embeds
// ==============================

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// =========================
// Forms
// =========================

label {
  font-size: 0.9em;
}

input,
textarea {
  display: block;
  font-size: 1em;
  margin: 0 0 1em;
  padding: 0.5em;
  width: 100%;
}

input[type='submit'] {
  @extend .button;
  border: 0;
  display: inline-block;
  cursor: pointer;
  margin-top: 1em;
  width: auto;
}

// Themes

[class*='-dark'] {
  background-color: $dark-purple;

  h2 {
    color: $gray40;
  }

  p,
  li {
    color: $gray40;
  }

  .button {
    color: $gray20;
  }
}

[class*='theme-orange'] {
  h3 {
    color: $orange;
  }

  .button {
    border-color: $orange;

    &:hover {
      border-color: $yellow;
      color: $black;
    }
  }
}

[class*='theme-red'] {
  h3 {
    color: $red;
  }

  .button {
    border-color: $red;

    &:hover {
      border-color: $yellow;
      color: $black;
    }
  }
}

[class*='theme-violet'] {
  h3 {
    color: $pink;
  }

  .button {
    border-color: $pink;

    &:hover {
      border-color: $yellow;
      color: $black;
    }
  }
}

.bg-purple,
.bg-black {
  h2,
  h3,
  p,
  .button,
  button {
    color: $gray40;
  }
}

.bg-purple {
  background-color: $dark-purple;
}
.bg-black {
  background-color: $night;
}
.bg-orange {
  background-color: $orange;
}
.bg-red {
  background-color: $red;
}
.bg-pink {
  background-color: $pink;
}
.bg-yellow {
  background-color: $yellow;
}

// scss-lint:disable all
@import '../components/**/*.scss';
// scss-lint:enable all
