.media-text {
  background-size: cover;
  background-position: center center;
  border-color: purple;

  &.align-top {
    .boxes {
      flex-direction: column;
    }

    .box {
      margin-bottom: 2em;
      width: 100% !important;
    }
  }

  &.align-right {
    background-position: right;

    .boxes {
      flex-direction: row-reverse;

      @media screen and (max-width: $small) {
        flex-direction: column;
      }
    }
  }

  &.align-bottom {
    .boxes {
      flex-direction: column-reverse;

      @media screen and (max-width: $small) {
        flex-direction: column;
      }
    }

    .box {
      margin-bottom: 2em;
      width: 100% !important;
    }
  }

  &::before {
    background: purple;
    color: $white;
    content: 'MEDIA-TEXT';
  }

  .lead-in {
    text-align: center;
    margin-bottom: 2em;
  }

  .container {
    padding-left: 8em;
    padding-right: 8em;

    @media screen and (max-width: $small) {
      padding: 0 1em;
    }
  }

  .boxes {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $small) {
      flex-direction: column;
    }
  }

  .box {
    width: 45%;

    @media screen and (max-width: $small) {
      margin-bottom: 2em;
      width: 100% !important;

      img {
        max-width: 50%;
      }
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }

  &.animate {
    img {
      opacity: 0;
    }
  }

  &.viewed.animate {
    img {
      animation: appear 1s $timing forwards;
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    filter: blur(50px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

// @keyframes appear {
//   0% {
//     opacity: 0;
//     filter: blur(50px);
//   }
//   10% {
//     opacity: 10%;
//     filter: blur(40px);
//   }
//   20% {
//     opacity: 20%;
//     filter: blur(30px);
//   }
//   30% {
//     opacity: 30%;
//     filter: blur(20px);
//   }
//   50% {
//     opacity: 50%;
//     filter: blur(10px);
//   }
//   100% {
//     opacity: 1;
//   }
// }
