<div class="media-text {{ item.fields.backgroundImage ? 'without-background' : '' }} {{ item.fields.mediaAlignment ? 'align-' + item.fields.mediaAlignment.toLowerCase() : '' }} {{ item.fields.backgroundColor ? 'bgcolor-' + item.fields.backgroundColor.toLowerCase() : '' }} {{ item.fields.reverseTypeColor ? 'reverse-type-color' : '' }} {{ item.fields.animate ? 'animate' : '' }}" style="{{ item.fields.backgroundImage ? 'background-image: url(' + item.fields.backgroundImage.fields.file.url + ');' : '' }}">
  <if condition="item.fields.leadIn">
    <div class="lead-in">
      {{{ md(item.fields.leadIn) }}}
    </div>
  </if>
  <div class="boxes">
    <div class="box" style="width: {{ item.fields.mediaWidth ? item.fields.mediaWidth + '%' : '50%' }}">
      <if condition="item.fields.media">
        <img src="{{ item.fields.media.fields.file.url }}" />
      </if>
    </div>
    <div class="box" style="width: {{ item.fields.mediaWidth ? 95 - item.fields.mediaWidth + '%' : '50%' }}">
      <if condition="item.fields.text">
        {{{ md(item.fields.text) }}}
      </if>
    </div>
  </div>
</div>
