<section class="media-text {{ section.fields.mediaAlignment ? 'align-' + section.fields.mediaAlignment.toLowerCase() : '' }} {{ section.fields.theme ? 'theme-' + section.fields.theme.toLowerCase() : ''}}" style="{{ section.fields.backgroundImage ? 'background-image: url(' + section.fields.backgroundImage.fields.file.url + ');' : '' }}">
  <div class="container">
    <if condition="section.fields.leadIn">
      <div class="lead-in">
        {{{ md(section.fields.leadIn) }}}
      </div>
    </if>
    <div class="boxes">
      <div class="box" style="width: {{ section.fields.mediaWidth ? section.fields.mediaWidth + '%' : '50%' }}">
        <if condition="section.fields.media">
          <img src="{{ section.fields.media.fields.file.url }}" />
        </if>
      </div>
      <div class="box" style="width: {{ section.fields.mediaWidth ? 95 - section.fields.mediaWidth + '%' : '45%' }}">
        <if condition="section.fields.text">
          {{{ md(section.fields.text) }}}
        </if>
      </div>
    </div>
  </div>
</section>
