<div class="one-column-text {{ item.fields.pattern ? 'with-pattern' : '' }} {{ item.fields.reverseTypeColor ? 'reverse-type-color' : '' }} {{ item.fields.backgroundColor ? 'bgcolor-' + item.fields.backgroundColor.toLowerCase() : '' }}" style="{{ item.fields.textAlignment ? 'text-align: ' + item.fields.textAlignment.toLowerCase() + ';' : '' }}">
  <if condition="item.fields.text">
    {{{ md(item.fields.text) }}}
  </if>
</div>
