.one-column-text {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border-color: yellow;

  &::before {
    background: yellow;
    color: $black;
    content: 'ONE-COLUMN-TEXT';
  }

  &[class*='-dark'] {
    background-color: $dark-purple;
  }

  .container {
    padding-left: 8em;
    padding-right: 8em;

    @media screen and (max-width: $medium) {
      padding: 6em;
    }

    @media screen and (max-width: $small) {
      padding: 2em 1em;
    }
  }
}
