<section class="one-column-text {{ section.fields.hammer ? 'hammer-headline' : ''}} {{ section.fields.pattern ? 'with-pattern' : '' }} {{ section.fields.theme ? 'theme-' + section.fields.theme.toLowerCase() : ''}} {{ section.fields.backgroundColor ? 'bg-' + section.fields.backgroundColor.toLowerCase() : ''}}" style="{{ section.fields.textAlignment ? 'text-align: ' + section.fields.textAlignment.toLowerCase() + ';' : '' }} {{ section.fields.backgroundImage ? 'background-image: url(' + section.fields.backgroundImage.fields.file.url + ');' : '' }}">
  <div class="container">
    <if condition="section.fields.text">
      {{{ md(section.fields.text) }}}
    </if>
  </div>
</section>
