.show-components {
  section,
  header,
  footer {
    border-width: 4px;

    &::before {
      display: block;
    }
  }

  .component-toggle {
    .close {
      transform: rotate(0);
    }
  }
}

.component-toggle {
  border: 2px solid red;
  color: $white;
  cursor: pointer;
  height: 1.5em;
  line-height: 1;
  padding: 0.1em 0.3em 0.3em;
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
  user-select: none;
  width: 1.5em;
  z-index: 10000;

  .close {
    height: 0.9em;
    width: 1em;
    line-height: 1;
    max-width: 100%;
    padding: 0;
    position: relative;
    right: auto;
    top: auto;
    transform: rotate(45deg);
  }
}
