<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ item && item.fields.metaTitle ? item.fields.metaTitle : item.fields.title + ' • ' + sitename }}</title>

    <!-- Social information -->
    <meta property="og:type" content="website" />
    <meta property="og:title" name="twitter:title" content="{{ item && item.fields.metaTitle ? item.fields.metaTitle : item.fields.title + ' • ' + sitename }}" />
    <if condition="item && item.fields.metaDescription">
      <meta name="description" content="{{ item.fields.metaDescription }}" />
      <meta property="og:description" name="twitter:description" content="{{ item.fields.metaDescription }}" />
    </if>
    <if condition="item.fields.shareImage">
      <meta property="og:image" name="twitter:image" content="{{ item.fields.shareImage.fields.file.url }}" />
    </if>

    <!-- Twitter card information -->
    <meta name="twitter:card" content="summary_large_image">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">

    <link rel="stylesheet" href="/assets/style.css">
    <if condition="env !== 'development'">
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MSL29G8');</script>
      <!-- End Google Tag Manager -->
    </if>
  </head>
  <body class="page-{{ item ? /[^/]*$/.exec(item.fields.slug) : '' }}">
    <if condition="env !== 'development'">
      <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MSL29G8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    </if>
    <if condition="env === 'development'">
      <include src='../components/ComponentToggle/componentToggle.html'></include>
    </if>
    <include src='../components/Header/header.html'></include>

    <main>
      <block name='content'></block>
    </main>

    <include src='../components/Footer/footer.html'></include>

    <block name='javascript'>
      <if condition="env === 'development'">
        <script>window.locals={{{ JSON.stringify(locals) }}}</script>
      </if>
      <script src='/assets/main.js' defer></script>
    </block>
  </body>
</html>
