<extends src='index.html'>
  <block name='content'>
    <each loop="section in item.fields.collection">

      <if condition="section.sys.contentType.sys.id === 'hero'">
        <include src='../components/Hero/hero.html'></include>
      </if>

      <if condition="section.sys.contentType.sys.id === 'oneColumnText'">
        <include src='../components/OneColumnText/oneColumnText.html'></include>
      </if>

      <if condition="section.sys.contentType.sys.id === 'mediaText'">
        <include src='../components/MediaText/mediaText.html'></include>
      </if>
      
      <if condition="section.sys.contentType.sys.id === 'callout'">
        <include src='../components/CTA/callout.html'></include>
      </if>
      
      <if condition="section.sys.contentType.sys.id === 'cta'">
        <include src='../components/CTA/cta.html'></include>
      </if>

      <if condition="section.sys.contentType.sys.id === 'media'">
        <include src='../components/Media/media.html'></include>
      </if>
      
      <if condition="section.sys.contentType.sys.id === 'transition'">
        <include src='../components/Transition/transition.html'></include>
      </if>
      
      <if condition="section.sys.contentType.sys.id === 'solution'">
        <include src='../components/Solution/solution.html'></include>
      </if>
      
      <if condition="section.sys.contentType.sys.id === 'feature'">
        <include src='../components/Feature/feature.html'></include>
      </if>

    </each>
  </block>
</extends>
